* {
    margin: 0;
    border: 0;
    padding: 0;
}
.cube {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background: rgb(131,58,180);
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    margin: 0 5px;
    z-index: 10;
}

.cube:hover {
    scale: 1.2;
}

.cube:active {
    scale: 0.8;
}

.phone {
    width: 195px;
    height: 422px;
    border-radius: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(148deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}

.status-bar {
    width: 195px;
    height: 17px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 25px auto;
    position: relative;
    top: 42px;
    border-radius: 15px 15px 0 0;
}

.home-menu {
    width: 100%;
    height: 80%;
}

.fav-menu {
    height: 10%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.home-menu, .fav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

img {
    width: 100%;
    scale: 0.8;
}